/* MOBILE & ANDROID FRIENDLY */

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
}

#map {
    height: 100vh;
    width: 100vw;
}

/* Form tambah puskesmas */
.form-box {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    max-height: 60vh;
    overflow-y: auto;
    background: #fff;
    padding: 15px;
    z-index: 1000;
    border-radius: 15px 15px 0 0;
    display: none;
}

/* Desktop mode */
@media (min-width: 768px) {
    .form-box {
        width: 300px;
        top: 20px;
        right: 20px;
        bottom: auto;
        left: auto;
        border-radius: 10px;
    }
}

input,
textarea,
button {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 16px; /* cegah auto zoom Android */
}
html,
body {
    height: 100%;
}
#map {
    height: 100vh;
}
